/* Reset básico de margens, padding e box-sizing para garantir consistência */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;   
}

/* Classe para esconder elementos */
.hide {
    display: none;
}

/* Início da Navbar (barra de navegação) */
.navbar {
    background-color: #EFCFAA;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinha os itens verticalmente ao centro */
    position: sticky;
    box-shadow: 0px 1px 4px 1px rgba(150, 150, 150);
    padding: 5px 15px;
    top: 0;
    z-index: 1;
}

.navbar-ola{
    color: #8a2cdcd7;
    font-weight: 400;
    font-size: medium;
}

/* Conteúdo da Navbar */
.navbar .navbar-content {
    display: flex;
    align-items: center;
}

/* Ícone de barras da Navbar */
.navbar .bars {
    margin-right: 25px;
    align-items: center;
    cursor: pointer;
} 

/* Logo na Navbar */
.logo-img {
    width: 120px;
}
/* Fim da Navbar */

/* Início do conteúdo e Sidebar */
.content .sidebar {
    background-color: #d9d9d9;
    height: calc(100vh - 60px); /* Altura ajustada para considerar a navbar */
    width: 60px;
    position: sticky;
    top: 60px; /* Posição fixa abaixo da navbar */
    overflow: auto;
    box-shadow: 0 1px 4px 1px black;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.3s width ease-in-out; /* Transição suave para alteração de largura */
    flex-shrink: 0;
}

/* Sidebar em dispositivos menores */
@media(max-width: 768px) {
    .content .sidebar {
        width: 60px;
        z-index: 1;
        width: 0;
    }
}

/* Efeito de expansão da Sidebar ao passar o mouse */
.content .sidebar:hover,
.content .sidebar.active {
    width: 250px;
}

/* Estilos para links na Sidebar */
.sidebar .sidebar-nav {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 15px 0;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 16px;
}

.sidebar a {
    color: rgb(0, 0, 0);
}

/* Efeito hover para links na Sidebar */
.sidebar a:hover {
    color: #000000;
    background-color: #cacaca;    
}

/* Estilo para o link ativo na Sidebar */
.sidebar .sidebar-nav.active {
    background-color: #cacaca;
    color: #696969;
}

/* Indicador de link ativo na Sidebar */
.sidebar .sidebar-nav.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: #EFCFAA;
}

/* Ícones na Sidebar */
.sidebar-nav .icon {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    flex-shrink: 0;
}

/* Estilo geral do conteúdo */
.content {
    display: flex;
}

/* Wrapper do conteúdo principal */
.content .wrapper {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
} 

/* Container do formulário de pesquisa */
.pesquisa-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

/* Campo de entrada do formulário de pesquisa */
.pesquisa-container input {
    width:300px;
    border-color: #d9d9d9;
    border-radius: 10px;
}

/* Botão de pesquisa */
.pesquisa-container button {
    width: 70px;
    height: 30px;
    margin-left: 20px;
    background: #cacaca;
    color: #000;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

/* Container para os resultados */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Estilo dos cards de babás */
.card {
    width: 325px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.2s;
}

/* Efeito hover para os cards */
.card:hover {
    transform: scale(1.05);
}

/* Imagem dos cards */
.card-img {
    width: 100%;
}

.card-img img {
    width: 100%;
    height: auto;
}

/* Conteúdo dos cards */
.content-card {
    padding: 20px;
}

.content-card h3 {
    font-size: 26px;
    margin-bottom: 10px;
}

/* Lista de informações nos cards */
.content-card li {
    font-size: 16px;
    margin-bottom: 20px;
    list-style-type: none;
}

/* Botões nos cards */
.content-card button {
    width: 70px;
    height: 30px;
    background: #cacaca;
    color: #000;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.content-card button:hover {
    background-color: #9b9b9b;
    transition: 0.3s ease;
}

/* Fade e modal com transição */
.fade, .modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

/* Background do fade */
.fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Modal centralizado */
.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: #fff;
    width: 1000px;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: 0.5rem;
}

/* Cabeçalho do modal */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}   

/* Estilo dos títulos */
.modal-header ul{
    list-style: none;
}

.modal-header ul .nome{
    font-size: 30px;
    font-weight: bolder;
}

.modal-header button{
    width:30px;
    height:29px;
    background: #cacaca;
    color: #000;
    font-size: medium;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.formProposta{
    margin-top: 10px;
    border-top: 1px solid #ccc; /* Adiciona uma borda inferior */
}

.modal-body button{
    width: 100px;
    height: 30px;
    background: #cacaca;
    color: #000;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.modal-body button:hover {
    background-color: #9b9b9b;
    transition: 0.3s ease;
}

/* Estilo do formulário */
.dynamicForm{
    padding-top: 15px;
}

/* Botão de enviar */
.dynamicForm button{
    margin-top: 10px;
    width:60px;
    height: 30px;
    background: #cacaca;
    color: #000;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.dynamicForm button:hover {
    background-color: #cfbfaf;
    transition: 0.3s ease;
}

.row .box {
    text-decoration: none;
    width: 30%;
    margin: 5px 1%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 0px 1px 4px 1px rgba(150, 150, 150);
}

.row .box-first{
    background-color: rgb(82, 195, 82);
}

.row .box-second{
    background-color: rgb(223, 154, 93);
}

.row .box-third{
    background-color: #cf5757;
}

.box span {
    margin: 5px 0;
    font-size: 17px;
    position: relative;
}

@media (max-width: 1024px) {
    .row .box {
        width: 48%;
    }
}

@media (max-width: 768px) {
    .row .box {
        width: 98%;
    }
}

/*inicio historico*/
.row .top-list {
    width: 100%;
    overflow: hidden;
}

.top-list .title-content {
    float: left;
    color:#000000 ;
    padding: 10px 16px;
    font-size: 17px;
}

.top-list .top-list-right {
    padding: 10px 5px 5px 0;
    float: right;
}

.table-list{
    margin-top: 15px;
    width: 100%;
}

.table-list .list-head .list-head-content{
    background-color:#EFCFAA;
    padding: 10px;
}

.table-list .list-body .list-body-content{
    background-color:#ffffff;
    padding: 8px;
}
/*fim historico*/

/*fim dash*/

/* botoes */

.botao-apagar {
    background-color: #d62e2e;
    color: #ffffff;
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s ease;
}

.botao-apagar:hover {
    background-color: #871616;
    color: #ffffff;
}

.botao-editar {
    background-color: #4038db;
    color: #ffffff;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s ease;
    margin-top: 10px;
    margin-bottom: 20px;
}

.botao-editar:hover {
    background-color: #4011c0;
    color: #ffffff;
}

.botao-apagada {
    background-color: #d894d4;
    color: #ffffff;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s ease;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none
}

.botao-apagada:hover {
    background-color: #d97dd3;
    color: #ffffff;
}

.botao-visualizar {
    background-color: #38db40;
    color: #ffffff;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s ease;
}

.botao-visualizar:hover {
    background-color: #0e761e;
    color: #ffffff;
}

/*inicio dados baba*/
.content-adm .view-det-adm{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    text-align: center;
}

.view-det-adm .view-adm-title{
    width: 80px;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.view-det-adm .view-adm-info{
    width: 100%;
    color: #000000;
    font-size: 15px;
    padding: 3px 10px;
}
/*fim dados baba*/

/*row proposta baba*/
.hidden-row {
    background-color:#EFCFAA;   
}

.botao-adicionar {
    background-color: #29c0c3;
    color: #ffffff;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s ease;
}

.botao-adicionar:hover {
    background-color: #0c7f8a;
    color: #ffffff;
}

.botao-remover {
    background-color: #c95038;
    color: #ffffff;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: all .3s ease;
}

.botao-remover:hover {
    background-color: #82160a;
    color: #ffffff;
}


.preencher {
    width: 400px;
    height: 30px;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 10px; /* Borda arredondada */
    background-color: #f0f0f0; /* Coloração de fundo cinza-claro */
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
.preencher:focus {
    border-color: #000000;
    box-shadow: 0 0 8px rgba(20, 20, 21, 0.6);
    outline: none;
}
  
.preencher::placeholder {
    color: #aaa;
}
  
.preencher:invalid {
    border-color: #e74c3c;
}
  
.preencher:valid {
    border-color: #000000;
}

.botoes {
    justify-content: center;
}

.apagada {
    text-align: center;
    justify-content: center;
    font-size: 50px;
    margin-top: 50px;
    color: #EFCFAA;
}

.modal2 {
    display: none; /* Escondido por padrão */
    position: fixed; /* Ficar fixo na tela */
    z-index: 1; /* Ficar na frente */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilitar rolagem se necessário */
    background-color: rgb(0, 0, 0); /* Fundo preto */
    background-color: rgba(0, 0, 0, 0.4); /* Fundo preto com opacidade */
}


.modal2-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 20px;
    background-color: white;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 15% auto;
    position: relative;
}

.modal2-content p {
    text-align: center;
    margin: 10px 0;
}

/* Estilos para o botão de fechar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}