.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: #EFCFAA;
    height: 50px;
}

.barra {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    width: 30px;
    height: 30px;
    margin-top: 9px;
    margin-right: 12px;
}

.barra:hover {
    border-color: #999;
}

.boxsearch {
    display: flex;
    justify-content: center;
    width: 1500px;
    height: 70px;
    margin-right: 5px;
    gap: .1%;
    margin-top: 65px;
    align-items: center;
}

.caixa {
    border-radius: 20px;
    background-color: #dfdadac8;
    border: 1px solid #ccc; 
    padding: 10px 15px;
    width: 500px;
    height: 20px;
}

.caixa:hover {
    border-color: #999;
}

.botao {
    border-radius: 30px; 
    background-color: #dfdadac8; 
    border: 1px solid #ccc; 
    padding: 10px 15px;
    height: 42px;
}

.botao:hover {
    border-color: #999;
}

h1 {
    text-align: center; 
    font-family: "Calibri", sans-serif; 
    font-size: 35px;
    color: #EFCFAA;
}

h3 {
    text-align: center; 
    font-family: "Calibri", sans-serif; 
    font-size: 35px;
    color: #EFCFAA;
    margin-top: 80px;
}

.main{
    display: flex;
    justify-content: center;
}

.card {
    margin: 45px;
    margin-bottom: -10px;
    background-color: #EFCFAA;
    width: 200px;
    height: 390px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    margin-top: 7px;
}

.card:hover {
    border-color: #999;
}

.card>img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

p {
    text-align: center;
    font-family: "Calibri", sans-serif;
    font-size: 24px;
    color: rgb(244, 236, 236);
}

p1 {
    text-align: center;
    font-family: "Calibri", sans-serif;
    color: #EFCFAA;
    font-size: 30px;
    display: flex;
    justify-content: center;
}